#centerpiece2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 744px;
    height: 297px;
    flex-shrink: 0;
    margin: 160px auto 0;
    text-align: center;
  }
  
  .MiscPages-description {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    color: #A30000;
    margin-top: 20px;
  }