#sticky-header {
  position: sticky;
  top: 20px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1000;
  padding: 10px 20px;
  box-sizing: border-box;
  width: calc(50% - 40px);
  margin: 0 auto;
  border-radius: 50px;
  transition: all 0.3s ease;
}

#sticky-header.scrolled {
  background-color: rgba(234, 224, 213, 0.9); /* Background color when scrolled */
}

.nav-btn {
  border: 2px solid transparent;
  width: 100px;
  height: 50px;
  flex-shrink: 1;
  border-radius: 20px;
  background: transparent;
  color: #A30000;
  font-family: 'EB Garamond', serif;
  font-size: 20px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s, border-color 0.3s, font-size 0.3s; /* Smooth transition for hover effects */
  text-decoration: none; /* Remove underline */
}

.nav-btn.scrolled {
  background: transparent; /* Keep button background transparent */
  border-color: transparent;  /* Keep border transparent */
}

.nav-btn.active {
  background: rgba(255, 255, 255, 0.8); /* Highlight active button with a semi-transparent white */
  border-color: rgba(255, 255, 255, 0.8);  /* Border color to match the highlight */
}

@media (max-width: 1200px) {
  .nav-btn {
    width: 150px; /* Adjust the width for smaller screens */
    height: 50px; /* Adjust the height for smaller screens */
    font-size: 24px; /* Adjust the font size for smaller screens */
  }
}

@media (max-width: 992px) {
  .nav-btn {
    width: 130px; /* Further adjust the width for smaller screens */
    height: 45px; /* Further adjust the height for smaller screens */
    font-size: 20px; /* Further adjust the font size for smaller screens */
  }
}

@media (max-width: 768px) {
  .nav-btn {
    width: 120px;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
  }
  #sticky-header {
    width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 5px 10px;
    top: 10px;
    background-color: rgba(234, 224, 213, 0.95);
  }
  #sticky-header.scrolled {
    background-color: rgba(234, 224, 213, 0.98);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 576px) {
  .nav-btn {
    width: 90px;
    height: 30px;
    font-size: 10px;
    border-radius: 8px;
  }
  #sticky-header {
    width: 260px;
    margin: 0 auto;
    border-radius: 20px;
    top: 10px;
    background-color: rgba(234, 224, 213, 0.95);
    gap: 8px;
  }
  #sticky-header.scrolled {
    background-color: rgba(234, 224, 213, 0.98);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}
