.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: var(--bg-not-found);
}

.not-found-container h1 {
  font-size: 4rem;
  color: var(--color-accent);
}

.not-found-container p {
  font-size: 1.5rem;
  color: var(--color-text-dark);
}

.back-home-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--color-accent);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.back-home-button:hover {
  background-color: var(--color-red-brand-hover);
}
