.large-btn2 {
    width: 680px;
    height: 548px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #D5AC4E;
    position: relative;
    transition: all 0.3s ease; /* For smooth hover */
    border: none;
    outline: none;
  }
  
  .large-btn2:hover {
    height: 557px;
    background: #AD8C3F;
  }
  
  .inner-rectangle3 {
    width: 155px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #D5B15C;
    position: absolute;
    top: 27px;
    right: 28px;
  }
  
  .text-top3 {
    width: 114px;
    height: 19px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: 'EB Garamond', serif;
    font-size: 12px;
    position: absolute;
    top: 12px;
    left: 25px;
  }
  
  .text-bottom3 {
    width: 136px;
    height: 36px;
    flex-shrink: 0;
    color: #30343F;
    text-align: center;
    font-family: 'Galgine', serif;
    font-size: 24px;
    position: absolute;
    top: 27px;
    left: 9px;
  }

  .image-container {
    width: 623px;
    height: 409px;
    overflow: hidden;
    position: absolute;
    border-radius: 11px 0px 20px 0px;
    bottom: 0;
    right: 0;
  }
  
  .sqr-img {
    width: 100%;
    height: auto;
    transform: scale(1.1);
  }
  
