.small-btn {
  width: 519px;
  height: 548px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #417F4B;
  position: relative;
  transition: all 0.3s ease; /* For smooth hover */
  border: none;
  outline: none;
}

.small-btn:hover {
  height: 557px;
  background: #3A7243;
}

.inner-rectangle2 {
  width: 155px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #508859;
  position: absolute;
  top: 27px;
  right: 28px;
}

.text-top {
  width: 114px;
  height: 19px;
  flex-shrink: 0;
  color: #FFF;
  text-align: right;
  font-family: 'EB Garamond', serif;
  font-size: 12px;
  position: absolute;
  top: 12px;
  left: 25px;
}

.text-bottom {
  width: 136px;
  height: 36px;
  flex-shrink: 0;
  color: #30343F;
  text-align: center;
  font-family: 'Galgine', serif;
  font-size: 24px;
  position: absolute;
  top: 27px;
  left: 9px;
}
