.small-btn3 {
    width: 519px;
    height: 548px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #000;
    position: relative;
    transition: all 0.3s ease; /* For smooth hover */
    border: none;
    outline: none;
    
  }
  
  .small-btn3:hover {
    height: 557px;
    background: #000;
  }

.inner-rectangle5 {
  width: 155px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #0E0D0D;
  position: absolute;
  top: 27px;
  right: 28px;
}

.text-bottom5 {
  width:  155px;
  height:  68px;
  flex-shrink: 0;
  color: #FDFDFD;
  text-align: center;
  font-family: 'Galgine', serif;
  font-size: 16px;
  position: absolute;
  top: 6px;
  left: 0px;
}


.sqrphil {
  width: 455px;
  height: 409px;
  position: absolute;
  overflow: hidden;
  border-radius: 11px 0px 20px 0px;
  bottom: 0px;
  right: 0px;
  transition: top 0.3s ease;  
}

.phil-img {
  width: 100%;
  height: auto;
  transform: scale(1.4);
}