.lastfm-currently-playing {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  min-width: 0;
}

.lastfm-logo {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  margin-right: 20px;
  margin-left: 15px;
  border: 2px solid #ffffff;
  border-radius: 6px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  flex: 1;
  min-width: 0;
}

.header {
  font-size: 18px;
  font-family: 'EB Garamond', serif;
  color: #ffffff;
  margin-bottom: 15px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.track-details {
  font-size: 22px;
  font-weight: bold;
  font-family: 'EB Garamond', serif;
  color: #ffffff;
  max-width: 100%;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.track-link {
  color: #ffffff;
  text-decoration: none;
}

.track-link:hover {
  text-decoration: underline;
}

.bottom-bar .lastfm-currently-playing .header,
.bottom-bar .lastfm-currently-playing .track-details,
.bottom-bar .lastfm-currently-playing .track-link {
  color: #000000;
}


@media (max-width: 720px) {
  .lastfm-currently-playing {
  padding: 0px; /* Halved */
}

.lastfm-logo {
  width: 25px; /* Halved and reduced by 12% from 50px */
  height: 25px; /* Halved from 50px */
  margin-right: 10px; /* Halved from 20px */
  margin-left: 10px; /* Halved from 15px */
}


.header {
  font-size: 9px; /* Halved from 18px */
  margin-bottom: -20px; /* Halved from 15px */
}

.track-details {
  font-size: 11px; /* Halved from 22px */
  max-width: 220px; /* Halved and reduced by 12% from 500px */
}

}
